* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

.row {
  margin: 0 auto;
  max-width: 1140px;
}

header {
  position: relative;
  background-image: url(hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.header-hero-box {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  margin: 0;
  color: white;
  font-size: 240%;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.btn {
  display: inline;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 300;
  border-radius: 200px;
}
.btn:hover,
.btn:active {
  background-color: #fdb328;
}
.btn-half:hover,
.btn-half:active {
  border: 1px solid #fdb328;
}
a {
  text-decoration: none;
}
.btn-full {
  border: 1px solid #fdb328;
  background-color: Transparent;
  color: #fff;
}
.btn-half {
  background-color: #fdb328;
  border: 1px solid black;
}

.a-tag-color {
  color: #fff;
}
