* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

.row {
  margin: 0 auto;
  max-width: auto;
}

header {
  position: relative;
  background-image: url(hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.header-hero-box {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  margin: 0;
  color: white;
  font-size: 240%;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  opacity: 0.7;
}

.btn {
  margin-top: 20px;
  display: inline;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 300;
  border-radius: 200px;
}
.btn:hover,
.btn:active {
  background-color: #fdb328;
}
.btn-half:hover,
.btn-half:active {
  border: 1px solid #fdb328;
}

.food-hover:hover,
.food-hover:active {
  background-color: #fdb328;
}
.main-nav a {
  border: 1px;
  border-radius: 5px;
  color: rgb(74, 74, 119);
  padding: 5px;
}

.how-hover:hover,
.how-hover:active {
  background-color: #fdb328;
}
.our-cities-hover:hover,
.our-cities-hover:active {
  background-color: #fdb328;
}
.Sign-up-hover:hover,
.Sign-up-hover-hover:active {
  background-color: #fdb328;
}
.btn-full {
  border: 1px solid #fdb328;
  background-color: Transparent;
  color: #fff;
}
.btn-half {
  background-color: #fdb328;
  border: 1px solid rgb(78, 78, 136);
}

.a-tag-color {
  color: rgb(74, 74, 119);
  text-decoration: none;
}

.logo {
  height: 100px;
  margin: 20px 0 0 50px;

  width: auto;
  float: left;
}

.main-nav {
  float: right;
  /* margin-top: 60px;
  margin-right: 10px; */
  margin: 60px 10px 0 0;
}
.main-nav li {
  margin-left: 40px;
  display: inline;
  text-transform: uppercase;
}
.main-nav a {
  text-decoration: none;

  font-size: 90%;
}

.section-feature h2 {
  font-weight: 300;
  font-size: 150%;
}

.section-feature p {
  margin-top: 5px;
  font-size: 80%;
  color: gray;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container div {
  padding: 2px;
}
.flex-container h2 {
  font-size: 110%;
  font-weight: 300;
}
.flex-container img {
  width: auto;
  height: 50px;
}
